<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:fragment="main-head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<th:block layout:fragment="title"></th:block>
		<!-- th:block : layout:fragment 속성에 이름을 지정해서 실제 Content 페이지의 내용
		을 채우는 기능 해당 기능은 동적인 처리가 필요할 떄 사용  -->

		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<!-- th:href : <a>태그의 href 속성과 동일 -->
		<link rel="stylesheet" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}" />

		<th:block layout:fragment="add-css"></th:block>
	</head>
</html>